version: '3.8'

services:
  momotalk:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads

