# Database Configurations
# Windows/Mac use: host.docker.internal
# Linux use: 172.17.0.1 or host internal ip
DB_HOST=host.docker.internal
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_DATABASE=momotalk

# Server Configurations
SECRET_KEY=your_secret_key_here
PORT=5000
HOST_DOMAIN=http://localhost:5000

# Node Enviroment
NODE_ENV=production

